doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Montserrat' )
    link(rel='stylesheet', href='stylesheets/normalize.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.1/modernizr.js')
    // SCRIPTS
    script(type="text/javascript", src="/linker/js/socket.io.js")
    script(type="text/javascript", src="/linker/js/sails.io.js")
    script(type="text/javascript", src="/linker/js/app.js")
    // SCRIPTS END
    // STYLES
    link(rel="stylesheet", href="/linker/styles/apollo.css")
    link(rel="stylesheet", href="/linker/styles/mixins.css")
    link(rel="stylesheet", href="/linker/styles/variables.css")
    // STYLES END
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    //- Add your site or application content here
    .container
      #top  
        header
          .row
            .col-md-4
              h2
                |Apollo
              h3
                |Computers
            .col-md-4
              address
                |Store Hours: Open Monday through Friday<br>
                |8AM to 6PM <br>
                |Weekends - On Call for Businesses
            .col-md-2
              address
                |611 Early Blvd.<br>
                |Early, Tx 76802<br>
                |<abbr title="Phone">P:</abbr> (325) 643-8184 
            .col-md-2
              address
                |170 PR 4306<br>
                |Lampasas, TX 76550<br>
                |<abbr title="Phone">P:</abbr>  (512) 556-2506
        nav
          .row
            .col-md-12
              ul.nav.nav-pills.red
                li(class="active")
                  a( href="#" data-toggle="pill") home
                li
                  a( href="#" data-toggle="pill") About Us
                li.dropdown
                  a( href="#" class="data-toggle" data-toggle="dropdown") Services
                    span.caret
                  ul.dropdown-menu
                    li  
                      a( href="#" data-toggle="pill") Business Services 
                    li  
                      a( href="#" data-toggle="pill") Computer Services 
                    li  
                      a( href="#" data-toggle="pill") Security  Services 
                li
                  a( href="#" data-toggle="pill") Schedule An Appointment 
                li
                  a( href="#" data-toggle="pill") Contact Us 
      #content
        .row
          col-md-3
            &nbsp;
          col-md-6
            #apple-blurb
              img( src="/images/apple.jpg" class="pull-left" style="width:4em;height:auto;" )
              h3 Apple Authorized Service Provider             
              |**Apollo Computers Inc. is now an Apple Authorized Service Provider.  We can now provide in and out-of-warranty service for Apple Macintosh computers.    
              br
              |**Now repairing iPhones/iPods (Out-of-Warranty Service Only)
          col-md-3
            &nbsp;
 
        .row
          .col-md-4
            h3
              |Networks
            img( src="images/network.jpg" class="pull-left img-rounded img-border" )
            |Apollo Computers designs, implements and supports all types of networks including home networks, Wireless Networks, Local Area Networks, as well Enterprise level Wide Area Networks. Our team of certified technicians have years of networking and Information Technology Consulting experience. Our professionalism, knowledge and attention to detail set us apart from the competition!
            ul
             li Network Design
             li Local Area Networks
             li Wide Area Networks
             li Systems Integration
             li Hardware Maintenance
             li Network Administrationi
             li Performance Monitoring
             li Network Optimization
             li Network Monitoring
             li Wireless Networks
          .col-md-4
            .jumbotron
              |Welcome to Apollo Computers
              img( src="/images/rocket.png" )
          .col-md-4
            h3
              |What We Can Do For You
            img( src="images/4_dudes.jpg" class="pull-right img-rounded img-border" style="margin-left:.25em" )
            |Our Agents, Advisors and Installers teach people to embrace technology fearlessly and practice the art of human interaction.  We can fix any computer problem anytime, anywhere — no matter where you purchased your equipment. We’re also knowledgeable and certified home theater entertainment system specialists. 
            p
              |Computer Agents Can:
              ul
                li Provide round-the-clock emergency service liMacintosh Warranty Repair
                li iPhone RepairliRepair crashed hard drives liMake nonprinting printers print 
                li Help you get on the Internet 
                li Contain virus outbreaks  
                li Remove prying spyware 
                li Install virus- and spyware-protection software 
                li Show you how to use your digital camera 
                li Connect home or office wireless networks 
                li Secure networks from intruders 
                li Help protect and back up important data 
                li Perform system checkups and maintenance 
                li Bring your computer up to date 
                li Recommend hardware 
                li Recommend software 
                li Install hardware 
                li Install software liSet up your MP3 or other digital device 
                li Diagnose and repair small business computer systems 
                li Recommend services
      footer
        block footer


    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    //script window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.0.min.js"><\/script>')
    //-script(src='javascripts/plugins.js')
    //-script(src='javascripts/script.js')

    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
    //-
      script
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');       
