doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Montserrat' )
    link(rel='stylesheet', href='stylesheets/normalize.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.1/modernizr.js')
    // STYLES
    link(rel="stylesheet", href="/linker/styles/apollo.css")
    link(rel="stylesheet", href="/linker/styles/mixins.css")
    link(rel="stylesheet", href="/linker/styles/variables.css")
    // STYLES END
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    //- Add your site or application content here
    .container
      #top  
        header
          .row
            .col-md-4
              h2
                |eConstructors
            .col-md-4
              address
                |Store Hours: Open Monday through Friday<br>
                |8AM to 6PM <br>
                |Weekends - On Call for Businesses
            .col-md-2
              address
                |611 Early Blvd.<br>
                |Early, Tx 76802<br>
                |<abbr title="Phone">P:</abbr> (325) 643-8184 
            .col-md-2
              address
                |170 PR 4306<br>
                |Lampasas, TX 76550<br>
                |<abbr title="Phone">P:</abbr>  (512) 556-2506
        nav
          .row
            .col-md-12
              ul.nav.nav-pills.red
                li(class="active")
                  a( href="#" data-toggle="pill" class="change-content" id="index") home
                li
                  a( href="#" data-toggle="pill" class="change-content" id="about") About Us
                li.dropdown
                  a( href="#" class="data-toggle" data-toggle="dropdown") Services
                    span.caret
                  ul.dropdown-menu
                    li  
                      a( href="#" data-toggle="pill" class="change-content" id="business-services") Business Services 
                    li  
                      a( href="#" data-toggle="pill" class="change-content" id="computer-services") Computer Services 
                    li  
                      a( href="#" data-toggle="pill" class="change-content" id="security-services") Security  Services 
                li
                  a( href="#" data-toggle="pill") Schedule An Appointment 
                li
                  a( href="#" data-toggle="pill" class="change-content" id="contact") Contact Us 
      #content
        .spinner
        img( src="/images/spiffy.gif")
      footer
        .row
          .col-md-12(style="text-align:center")
            &copy; eConstructors 2014   

      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
      script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js')
      script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
      script(src='/assets/linker/apollo.js')
      // SCRIPTS
      script(type="text/javascript", src="/linker/js/socket.io.js")
      script(type="text/javascript", src="/linker/js/sails.io.js")
      script(type="text/javascript", src="/linker/js/app.js")
      // SCRIPTS END
    
