block content
  .row
    .col-md-12
      h2 About us
      img( src="/images/paul.jpg" class="img-rounded img-border pull-right" style="margin-left:1em" )
      p
        |Apollo Computers Inc. is a rapidly growing Information Technology Consulting firm with 15+ years of Industry experience. Our company started in Brownwood, TX in January 2005, catering to residental customers, small to medium sized businesses as well as governmental institutions. 
      p
        |Apollo Computers Inc. is a rapidly growing Information Technology Consulting firm with 15+ years of Industry experience. Our company started in Brownwood, TX in January 2005, catering to residental customers, small to medium sized businesses as well as governmental institutions. 
      p
        |Large businesses can also leverage Apollo Computers' experience and expertise by joining forces with their internal Information Technology staff to address all technical challenges. Our expertise ranges from home office setups, small LANS to multiple-site WAN configurations. We are committed to providing quality solutions to your technical problems, and building long-term, and mutually beneficial business relationships. 

