@primaryButtonBackground: green;
.top{

  background-color:#fff;
  postion:fixed;

}
header{
  background-color: #FFD973;
  margin:.25em 0 .25em 0;
  -moz-border-radius:.25em;
  -webkit-border-radius: .25em;
  border-radius: .25em;
  border: .25em solid #717BD8;

}
footer{
  background-color: #FFD973;
  margin:.25em 0 .25em 0;
  -moz-border-radius:.25em;
  -webkit-border-radius: .25em;
  border-radius: .25em;
  border: .25em solid #717BD8;
  padding:1em;

}

header address{

  color:#000;
  margin: 1em;
}
header h2{

  color:#081272;
  margin-left:1em;
}
header h3{

  color:#081272;
  margin-left:1em;

}

h3{

  color:#081272;
  margin-left:1em;

}
nav{
   background-color:#FFF;
   margin-top:.5em;
   padding:.5em;
   border: .25em solid #717BD8;
  -moz-border-radius:.25em;
  -webkit-border-radius: .25em;
  border-radius: .25em;
}
.jumbotron{

   font-size:3em;
   text-align:center;
   border: 1px solid black;
   margin-top:1em;
   color:#081272;
}
//
.btn-primary{ background: black;}

.container{

}
.container .jumbotron {
    border-radius: 1em;
    text-align:center;
   
}

#apple-blurb{
  margin:0 auto;
}
.img-border{ 
  margin-right:.5em;
  border: solid .10em black;
 }
body{ 
  margin:.25em 0 .25em 0;
  -moz-border-radius:.25em;
  -webkit-border-radius: .25em;
  border: solid .10em black;
  border-radius: .25em;
}
.spinner{
  padding-top:10em;
  margin:0 auto;
  width:20em;
  height:50em;


}
